[Unit]
Description=Add firewall rules to iptables

[Service]
Type=oneshot
ExecStart=/etc/firewall/enable.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
